
*{
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header{
background: #ffffff;
color: #133bf1;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
z-index:999;
width: 100%;
padding: 10px 200px;
}
.log{
text-decoration: none;
color: #2e5df8;
text-transform: uppercase;
font-size: 30px;
font-weight: 700;
}
.navigation .head{
text-decoration: none;
color: #2c51f7;
text-transform: uppercase;
font-size: 20px;
font-weight: 700;
padding-left: 30px;
}
.btn-signup1 button i{
color: #000;
font-size: 15px;
padding:0 5px ;
}
.btn-signup1{
text-decoration: none;
}
.btn-signup1 button{
border: solid #000 1px;
border-radius:50px;
background: #3055fa;
color: #ffffff;
font-size: 15px;
font-weight: 700;
padding: 0 10px;
margin: 10px;
cursor: pointer;
}
.btn-signup1 button:hover{
transform: scale(1.1);
transition-delay:0.2s;
background: #ffffff;
color: rgb(31, 27, 243);
}
.btn-login1 i{
color: #000;
font-size: 15px;
padding:0 5px ;
}
.btn-login1{
text-decoration: none;
}
.btn-login1 button{
border: solid #000 1px;
border-radius:50px;
background: #ffffff;
color: #004aad;
font-size: 15px;
font-weight: 700;
padding: 0 10px;
margin: 10px;
cursor: pointer;
}
.btn-login1 button:hover{
transform: scale(1.1);
transition-delay:0.2s;
background: #3467f3;
color: white;
}
.dashbord{
    background-image: url(images/photo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.content{
   padding: 220px 150px 20px ;
  }
   .content h2{
    font-size: 50px;
    margin: 40px 30px 0;
   }
   .content h3{
    font-size: 30px;
    padding: 0 150px;
    margin:10px 0;
   }
   .content .btn-home{
    background: #0061f1;
    padding:12px 40px;
    border-radius: 30px;
    color: aliceblue;
    border: none;
    margin:10px 250px ;
    font-size: 20px;
    cursor: pointer;
   }
   .btn-home:hover{
    background:#2675ec;
    transform: scale(1.05);
    transition-delay:0.2s;
   }
   .sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   }
   .sign-up h2{
    padding-top: 50px ;
    font-size: 40px;
    text-align: center;
   }
   .BOX-SIGN{
    background: #303030;
    flex-direction: column;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 10px  10px 15px rgba(0,0,0,3);
    
   }
   .BOX-SIGN h2{
    font-size:30px;
    font-weight: bold;
    padding: 20px 0;
    color: #faf8f8;
   }
   label{
    color: #f1ebeb;
    margin-left: 50px;
   }
   .inp{
    flex-direction: column;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
   }
   .inp input{
    outline: none;
    background: rgb(252, 252, 252);
    border: none;
    width:310px ;
    height: 20px;
    border-radius: 5px;
    color: black;
    padding:15px;
   }
   .btn-signup{
    background: #0061f1;
    border-radius: 50px;
    width:300px;
    padding:5px 0px;
    margin: 5px 50px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
   }
   .btn-signup:hover{
    background:#2675ec;
    transform: scale(1.02);
    transition-delay:0.2s;
   }
   .log-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .log-in h2{
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
   }
   .BOX-LOG{
    background: #303030;
    flex-direction: column;
    width: 400px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,3);
   }
   .BOX-LOG h2{
    font-size:30px;
    font-weight: bold;
    padding: 20px 0;
    color: #fff8f8;
   }
   
   .btn-login{
    background: #0061f1;
    border-radius: 50px;
    width:300px;
    padding:5px 0px;
    margin: 5px 50px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
   }
   .btn-login:hover{
    background:#2675ec;
    transform: scale(1.02);
    transition-delay:0.2s;
   }
   .BOX-LOG p{
    font-size: 10px ;
    font-weight: 400;
    color: #e4e4e4;
    margin: 10px 130px;
   }
   .BOX-LOG p span{
    font-size: 10px;
    font-weight: 400;
    color: #2075f5;
    cursor: pointer;
   }
  .img{
    background-image: url(images/4.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .img h2{
    font-size: 50px;
    padding-top: 70px;
  }
   .servises{
    background:radial-gradient( circle,#5de0e6,#004aad);
    width: 100%;
    height: 100vh;
   }
   .header2{
    background: #ffffff;
    color: #133bf1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
   }
   .navigation2 .head-booking{
    text-decoration: none;
    color:#133bf1;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 0 120px;
   }
   .head-booking:hover{
    color: #0c6af7;
   }
  .boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:200px;
    padding: 20px;
    margin-top: 100px;
  }
  .box{
    position: relative;
    background: #fff;
    border-radius: 50px;
    width: 350px;
    padding: 50px 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
    overflow: visible;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box .content-box{
    width: 290px;
    height: 150px;
    margin-bottom: 50px;
  }
  .box:hover{
    background: #f5f5f5;
    transform: scale(1.01);
    transition-delay:0.1s;
  }
  .img-box{
    border-radius: 50%;
    position: absolute;
    top:-80px;
    left: 30%;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
  }
   .img-box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
  }
  .box h2{
    font-size: 20px;
    font-weight: bold;
    margin: 60px 0 10px;
    color: #222;
  }
  .box p{
    font-size: 10px;
    font-weight: bold;
    margin: 10px 20px 0;
    color: #222;
  }
  .btn-select{
    background: #0061f1;
    color: #ffffff;
    width: 150px;
    padding: 5px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 5px;
    cursor: pointer;
  }
  .btn-select:hover{ 
    background: #0c6af7;
    transform: scale(1.05);
    transition-delay:0.2s;
  }
  .doctor{
    background: radial-gradient( circle,#5de0e6,#004aad);
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .doctor h2{
    font-size: 50px;
    font-weight: bold;
    color: antiquewhite;
    padding:50px 0 0;
  }
  .doctor h3{
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  .boxs2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:200px;
    padding: 20px;
    margin-top: 100px;
  }
  .box2{
    position: relative;
    background: #fff;
    border-radius: 50px;
    width: 350px;
    padding: 50px 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
    overflow: visible;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2:hover{
    transform: scale(1.01);
    transition-delay:0.2s;
  }
  .img-box2{
    border-radius: 50%;
    position: absolute;
    top:-80px;
    left: 30%;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
  }
   .img-box2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
  }
  .box2 .content-box2{
   width: 290px;
   height: 150px;
   margin-bottom: 50px;
  }
  .box2 h2{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 20px  0px;
    color: #222;
  }
  .box2 p{
    font-size:10px;
    font-weight: bold;
    margin: 10px 20px 0;
    color: #222;
  }
  .btn-select2{
    background: #0061f1;
    color: #ffffff;
    width: 150px;
    padding: 5px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 5px;
    cursor: pointer;
  }
  .btn-select2:hover{
  background: #146bee;
    transform: scale(1.05);
    transition-delay:0.2s;
  }
  .box2 a{
    text-decoration: none;
    padding: 0 5px;
  }
  .clint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.clint h2{
  font-weight: bold;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
   }
   .BOX-clint{
    background: #303030;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,3);
   }
   .BOX-clint h2{
    font-size:30px;
    font-weight: bold;
    padding: 20px 0;
    color: #fff8f8;
   }
   .btn-clint{
    background: #0061f1;
    border-radius: 50px;
    width:300px;
    padding:5px 0px;
    margin: 5px 50px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
   }
   .btn-clint:hover{
    background:#2675ec;
    transform: scale(1.02);
    transition-delay:0.2s;
   }
   .map{
    text-align: center;
    background-image: url(images/10.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;

   }
   .map h2{
    font-size: 50px;
    font-weight: bold;
    padding: 20px 0;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .contact h2{
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
  }
  .boxs3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
    padding: 20px;
  }
  .box3{
    background: #dad6d6f6;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
    margin: 100px 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 h2{
    color:black;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
  }
  .box3 a{
    color: #2b51fa;
    padding: 50px;
  }
  .box3 i{
    font-size: 100px;

  }
  .box3 h3{
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
  }
  .social{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .box4{
    background: #dbdada;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,3);
    margin: 100px 0;
  }
  .box4 h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 20px;
  }
  .social-icon {
    display:flex ;
    gap:20px;
    align-items: center;
  }
  .box4 a h2{
    font-size: 10px;
    font-weight: bold;
  }
  .box4 a i{
    font-size: 20px;
    color: #245bf1;
  }
  table{
    background: #000;
    color: #fff;
    border-collapse: collapse;
    padding: 100px;
    margin: 300px;
  }
  thead{
    background: wheat;
    color: #000;
    border: #0f0f0f 1px solid;
  }
  th,td{
    border: solid 1px white;
    padding: 50px;
  }
